# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
src/tmp/
src/tmp/maps/
*.log
npm-debug.log*

desktop.ini

src/archives/maps/metadata/*.json
src/archives/maps/*.mbtiles